name: CI - Build & Push Docker Image

on:
  push:
    branches: [ dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '25'

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: nicoplesse
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build -t nicoplesse/losgroessenrechner:${{ github.ref_name }} .

      - name: Push Docker Image
        run: |
          docker push nicoplesse/losgroessenrechner:${{ github.ref_name }}
